.container {
  position: absolute;
  background-color: tan;
  text-align: center;
  height: 100%;
  width: 100%;
}

.interface {
  background-color:#3d4543;
  height:20rem;
  width:20rem;
  border-radius:10px;
  position:relative;
  top:80px;
  left:40%;
} 
