.display-box {
    width: 16rem;
    position:relative;
    left: 2rem;
    top: 1rem;
    height: 2.5rem;
}

.display-input {
    position:relative;
    overflow: auto;
    left: 0px;
    top: 2px;
    height: 2.5rem;
    color:black;
    background-color:#bccd95;
    font-size: 2rem;
    text-align:right;
}